<ul class="list-inline">
  <li>
    <%= link_to potepan_category_path(@product.taxons.first.id) do %>
      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a>
    <% end %>
  </li>
</ul>
<h2><%= product.name %></h2>
<h3><%= product.display_price %></h3>
<p><%= product.description %></p>
<% if product.variants.present? %>
  <span class="quick-drop">
    <select name="guiest_id3" id="guiest_id3" class="select-drop">
      <% product.variants.each_with_index do |variant, index| %>
        <option value=<%= index %>><%= variant.options_text %></option>
      <% end %>
    </select>
  </span>
<% else %>
  <%= hidden_field_tag "variant_id", product.master.id %>
<% end %>
<span class="quick-drop">
  <select name="guidest_1d3" id="guidest_id3" class="select-drop">
    <option value="0">S</option>
    <option value="1">M</option>
    <option value="2">L</option>
    <option value="3">XL</option>
  </select>
</span>
<span class="quick-drop resizeWidth">
  <select name="guiest_id4" id="guiest_id4" class="select-drop">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</span>
<div class="btn-area">
  <%= link_to potepan_cart_page_path, class: "btn btn-primary btn-block" do %>
    カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
  <% end %>
</div>